body {
  overflow-x: hidden;
  padding-top: 7em;
}
.alignfull {
  width: 100vw;
  max-width: 100vw;
  margin-left: calc(50% - 50vw);
}

.alignfull.wp-block-cloudblocks-g-section{
  width: 100%;
  margin-left: auto;
  padding: 2em;
  margin-bottom: 1em;
}

.section {
  margin-top: 5em;
  margin-bottom: 5em;
}

.text-white a {
  color: #eee;
}

.bg-spjblue {
  background: #004990;
}

header .navbar li a{
  font-weight: bold;
  color: #111;
}


.mainHeader {
  box-shadow: 0 0 5px -2px #000;
}
/*banner */
.block-heroimages > div {
  min-height: 300px;
  background-size: cover;
} 
.block-heroimages.conferences .confHeaderInner {
  max-width: 1400px;
  margin: auto;
  display: flex;
  width: 100%;
  align-items: center;
}
.block-heroimages.conferences .confHeaderInner > div {
  flex: 1 50%;
}


.breadcrumb .navbar-nav {
  flex-direction: row;

}
.breadcrumb .navbar-nav li {
  padding: 6px 12px;
}


/* home */

.coreFour {
  text-align: center;
}
.coreFour .coreFourIcon {
  display: inline-block;
  border-radius: 50%;
  border: 1px solid #333;
  line-height: 8em;
  height: 6em;
  width: 6em;
  text-align: center;
}

.widget-list   {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 2em;
}

.newsHome .widget-list li  {
  padding: 1em 0;
}
.newsHome .widget-list li  {
  border-bottom: 2px dashed #ddd;
}

.relatedContentRow .card figure {
  height: 200px;
  overflow: hidden;
}

.relatedContentRow .card-body {
  height: 300px; 
  overflow: hidden;
  text-overflow: ellipsis;
}


/* blocks */
.block.block_10  {
  margin-bottom: 3em;
}
.block.block_10 h2 {
  display: none;
}
.block.block_10 img {
  max-width: 200px;
    height: auto;
    margin-top: -2em;
}
.block_10>div {
  background: #eee;
  box-shadow: inset 0 0 20px #ccc;
  padding: 1em;
  border-radius: 10px;
}
.block_10 div div {
  display: flex;
  padding-top: 4em;
  position: relative
}
.block_10 div div p {
  flex: 1 auto;
}
.block_10 div div h3 {
  flex: 1 100%;
  position: absolute;
  top: 0.5em;
}