body {
  overflow-x: hidden;
}
.alignfull {
  width: 100vw;
  max-width: 100vw;
  margin-left: calc(50% - 50vw);
}

.section {
  margin-top: 5em;
  margin-bottom: 5em;
}

.text-white a {
  color: #eee;
}

.bg-spjblue {
  background: #004990;
}

header .navbar li a{
  font-weight: bold;
  color: #111;
}

/*banner */
.block-heroimages > div {
  min-height: 300px;
  background-size: cover;
} 
.block-heroimages.conferences .confHeaderInner {
  max-width: 1400px;
  margin: auto;
  display: flex;
  width: 100%;
  align-items: center;
}
.block-heroimages.conferences .confHeaderInner > div {
  flex: 1 50%;
}


.breadcrumb .navbar-nav {
  flex-direction: row;

}
.breadcrumb .navbar-nav li {
  padding: 6px 12px;
}


/* home */

.coreFour {
  text-align: center;
}
.coreFour .coreFourIcon {
  display: inline-block;
  border-radius: 50%;
  border: 1px solid #333;
  line-height: 8em;
  height: 6em;
  width: 6em;
  text-align: center;
}

.widget-list   {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 2em;
}

.newsHome .widget-list li  {
  padding: 1em 0;
}
.newsHome .widget-list li  {
  border-bottom: 2px dashed #ddd;
}